*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

/* мой код */
:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --accent-color: #ffab6b;
  --main-font: Raleway, Arial, Helvetica, sans-serif;
  --accent-font: "STIX Two Text", "Times New Roman", Times, serif;
}

.page {
  font-family: var(--main-font, sans-serif);
  color: var(--text-color);
}

.header {
  padding-top: 10vi;
}

.heading {
  font-family: var(--accent-font, serif);
  font-weight: 600;
  line-height: 0.9;
  text-align: center;
  font-size: 30px;
}

.content-section {
  padding: 0 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-bottom: 40px;
}

.content__title {
  padding: 7vi 0 2.5vi;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-child:first-letter {
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 0 4px;
  margin-right: 1px;
}

.content__text-block .content__paragraph:not(:last-child) {
  padding-bottom: 1.5em;
}

.content__link {
  color: inherit;
}

.content__blockquote {
  padding-bottom: 1.5em;
  width: 75%;
  margin: 0 auto;
  line-height: 2;
}

.content__list {
  list-style: none;
  padding-inline-start: 40px;
}

.content__list-item {
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-bottom: 10px;
}

.content__list-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  inset: calc(15px / 4) 0 0 -30px;
}

.content__figure {
  margin: 7% 0;
  width: calc(100% + 10vi);
  position: relative;
  left: -5vi;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--text-color);
}

.content__card {
  margin: 7% 0;
  border: 1px solid var(--text-color);
  aspect-ratio: 4 / 3;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.colored-text::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -0.08em;
  bottom: 0.12em;
  width: 105%;
  height: 0.28em;
  background-color: var(--accent-color);
  display: block;
}
